/* ==================================================================================== Imports */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ===================================================================================== Resets */

* {
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font: inherit;
    line-height: 128%;
    color: var(--text);
    font-family: "Outfit", sans-serif;

    cursor: default;
    box-sizing: border-box;
    transition: 0.2s;
}

::before,
::after {
    box-sizing: border-box;
    transition: 0.2s;
}

:focus {
    outline: none;
}

::selection {
    background: var(--primary_shade);
    color: var(--text);
}

/* ================================================================================== Variables */

:root {
    --text: oklch(from var(--primary) 100% calc(c * 0.1) h);
    --text_dim: oklch(from var(--text) 70% c h);

    --primary: #374ec1;
    --primary_shade: oklch(from var(--primary) calc(l * 0.95) calc(c * 0.5) h);
    --primary_gradient: linear-gradient(
        45deg,
        var(--secondary),
        var(--primary_shade)
    );

    --secondary: oklch(from var(--primary) l calc(c * 0.8) calc(h + 50));
    --secondary_shade: oklch(
        from var(--primary_shade) l calc(c * 0.8) calc(h + 50)
    );

    --accent: oklch(
        from var(--secondary) calc(l * 1.8) calc(c * 0.9) calc(h + 135)
    );
    --error_clr: rgb(from var(--primary) 230 calc(g * 0.3) calc(b * 0.3));
    --success_clr: rgb(from var(--primary) calc(r * 0.3) 230 calc(b * 0.3));

    --background: rgb(
        from var(--primary) calc(r * 0.2) calc(g * 0.2) calc(b * 0.2)
    );
    --background_shade: oklch(from var(--background) calc(l * 0.8) c h);
    --background_shade_opacity06: oklch(
        from var(--background_shade) l c h / 0.6
    );

    --border_radius: 1rem;

    --header_height: 72px;

    --gap: clamp(2rem, 8vw, 4rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(100ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 4rem);
    --feature: minmax(0, 8rem);

    --shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --glow: var(--secondary_shade) 0px 1px 10px;
}

/* ===================================================================================== Basics */

html {
    hanging-punctuation: first last;
    color-scheme: dark;
    scroll-padding-top: calc(var(--header_height) + var(--gap));
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

body {
    position: relative;
    min-height: 100svh;

    background: var(--background_shade);
}

body > * {
    animation: 0.3s fade linear forwards;
    animation-delay: 0.2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ================================================================================== Scrollbar */

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--background_shade);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary_shade);
    border: 0.25rem solid var(--background_shade);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

/* ========================================================================= Back to top button */

.back-To-Top {
    --backToTop_Width: 50px;
    --backToTop_Gap: calc((var(--gap) - var(--backToTop_Width)) / 2);

    z-index: 999;
    position: fixed;
    bottom: var(--backToTop_Gap);
    right: var(--backToTop_Gap);

    aspect-ratio: 1;
    width: var(--backToTop_Width);

    border-radius: 50%;
    background: url(img/arrow-up-circle-outline.svg), var(--primary_gradient);
    box-shadow: var(--shadow);
}

@media (max-width: 800px) {
    .backToTop {
        display: none;
    }
}

/* ============================================================================== Scroll Viewer */

#scroll-viewer {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    scale: 0 1;
    box-shadow: var(--primary) 0 0 10px 2px;

    height: 4px;
    width: 100%;

    background-color: var(--primary);

    animation: scroll-view linear;
    animation-timeline: scroll();
    transform-origin: left;
}

@keyframes scroll-view {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
    }
}

/* ================================================================================== Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    width: fit-content;
}

h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    font-weight: 900;
    line-height: 5.5rem;
}

h2 {
    font-size: 3rem;
    letter-spacing: -1px;
    font-weight: 800;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
}

/* ================================================================================ FontAwesome */

i {
    padding: 0;
    padding-right: 0.5rem;
    color: inherit;
}

/* ================================================================================= Paragraphs */

p,
p[type="normal"] {
    text-wrap: pretty;
    color: var(--text_dim);
    max-width: 80ch;
    margin-bottom: 2.5rem;

    span {
        display: inline;
        margin-left: 1rem;
        color: inherit;
    }
}

p[type="important"] {
    color: var(--text);
}

p[type="secondary"] {
    font-size: 0.75rem;
}

p[center="true"] {
    text-align: center;
}

/* ====================================================================================== Lists */

ul {
    list-style: inside;
    padding-left: 1rem;

    li {
        letter-spacing: 0.5px;
        line-height: 165%;
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

::marker {
    font-size: 1.25rem;
    color: var(--accent);
}

/* ====================================================================================== Links */

a {
    position: relative;
    color: var(--accent);
    cursor: pointer;
    text-decoration: none;

    * {
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;

        transform: scaleX(0);

        height: 2px;
        width: 100%;

        background-color: var(--accent);
    }

    &:not(:has(button), .back-To-Top):is(:hover, :focus-visible)::before {
        transform: scaleX(1);
    }
}

/* ===================================================================================== inputs */

input[type="text"],
input[type="password"],
input[type="date"],
textarea,
select {
    cursor: pointer;

    margin-top: 0.5rem;
    width: 100%;
    padding: 0.5rem 1rem;

    border-radius: var(--border_radius);
    border: 2px solid var(--primary_shade);
    background: var(--background);
}

textarea {
    resize: vertical;
}

.star,
.validity,
.forgot-passwd {
    position: absolute;
    right: 0;

    width: fit-content;

    font-size: 2rem;
    color: var(--accent);
}

.forgot-passwd {
    top: 0.5rem;
    font-size: 0.75rem;
}

.validity {
    margin-left: auto;
}

input[type="date"]:invalid + span.validity::after {
    content: "✖";
    color: var(--error_clr);
}

input[type="date"]:valid + span.validity::after {
    content: "✓";
    color: var(--success_clr);
}

/* ==================================================================================== buttons */

.buttons {
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: fit-content;
    gap: 1rem;
}

button,
button[type="button"],
input[type="submit"] {
    width: fit-content;
    padding: 0.5rem 2rem;

    border-radius: var(--border_radius);
    border-style: solid;
    border-width: 0.2rem;
    border-color: var(--primary);

    background: none;

    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;

    &:not([disabled="disabled"]):is(:hover, :focus-visible) {
        filter: brightness(1.2);
        box-shadow: var(--glow);
    }

    &:not([disabled="disabled"]):active {
        transform: scale(0.95);
        filter: brightness(0.9);
    }
}

button[type="reset"] {
    border-color: var(--secondary_shade);
}

button[type="cta"] {
    background: var(--primary);
    border: none;
}

button[type="submit"],
input[type="submit"] {
    background: var(--primary_gradient);
    border: none;
}

button[disabled="disabled"] {
    filter: saturate(0.5);
}

.accont-buttons {
    display: flex;
    border-radius: var(--border_radius);
    background: var(--primary_shade);

    a:last-child > button {
        background: var(--primary_shade);
    }
}

/* ====================================================================================== Form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: min(50ch, 100%);
    padding: 2rem;
    gap: 2rem;

    border-radius: var(--border_radius);
    border: 2px solid var(--background);
    background: var(--background_shade_opacity06);

    * {
        width: 100%;
    }

    p {
        margin: 0;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    div {
        display: grid;
        place-items: center;
        margin-top: 2rem;

        p {
            margin-top: 0.5rem;
        }
    }

    label {
        position: relative;
    }
}

@media (max-width: 450px) {
    form h2 {
        font-size: 10vmin;
    }
}

/* ===================================================================================== Images */

img {
    height: auto;
    max-height: 100%;
    max-width: 100%;

    vertical-align: middle;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;

    background: var(--small);
    background-repeat: no-repeat;
    background-size: cover;

    shape-margin: 1rem;

    object-fit: cover;
    object-position: center;

    user-select: none;
}

/* ===================================================================================== Header */

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

    margin: 1rem;
    height: var(--header_height);
    width: calc(100% - 2rem);
    padding-inline: var(--gap);

    border-radius: var(--border_radius);
    border: 2px solid var(--background);
    background: var(--background_shade_opacity06);
    box-shadow: var(--shadow);
    backdrop-filter: blur(16px);
}

/* ======================================================================================== Nav */

nav {
    display: flex;
    align-items: center;

    a:not(:has(button)) {
        padding: 0.5rem 1.5rem;
        font-size: 1.125rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--text);

        &:is(:hover, :focus-visible) {
            color: var(--secondary);
            filter: drop-shadow(var(--glow));

            i {
                color: var(--secondary);
            }

            &::before {
                transform: scaleX(0.85);
                box-shadow: var(--glow);
            }
        }

        &::before {
            background: var(--secondary);
        }
    }
}

/* =================================================================================== side nav */

aside {
    position: sticky;
    top: calc(var(--header_height) + 2rem);
    overflow: hidden;

    display: flex;
    flex-direction: column;

    margin: 1rem;
    height: calc(100svh - var(--header_height) - 4rem);
    width: 256px;

    border-radius: var(--border_radius);
    border: 2px solid var(--background);
    background: var(--background_shade_opacity06);
    box-shadow: var(--shadow);
    backdrop-filter: blur(16px);

    a {
        width: 100%;
        padding: 1rem;
        color: var(--text);
        border-bottom: 2px solid var(--background);

        &:hover {
            backdrop-filter: brightness(2);
        }

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            font-size: 24px;
            color: gold;
        }
    }
}

/* ============================================================================= hamburger manu */
/* TODO: Zrobić respąsywny hamburger menu, ważne: 
- zwykły nav ma się zmieniać w hamburgera jak ekran ma 1280px lub mniej
- nav ma się wysuwać od lewej
- ikona hamburgera (do otweiranai) ma się zmieniać w krzyżyk po otworzeniu 
- iconki znajdziesz w fonderze img/ */

/* ======================================================================================= main */

main,
.full-bg {
    display: grid;
    grid-template-columns:
        [full-start] var(--full)
        [feature-start] var(--feature)
        [popout-start] var(--popout)
        [content-start] var(--content) [content-end]
        var(--popout) [popout-end]
        var(--feature) [feature-end]
        var(--full) [full-end];
}

main {
    padding-bottom: var(--gap);
    gap: var(--gap) 0;
}

.full-bg {
    grid-column: full;
}

.popout {
    grid-column: popout;
}

.feature {
    grid-column: feature;
}

.full {
    grid-column: full;
}

main > :not(.full-bg, .popout, .feature, .full),
.full-bg > :not(.full-bg, .popout, .feature, .full) {
    grid-column: content;
}

main[type="2"] {
    position: relative;

    min-height: 100svh;
    display: flex;
    padding: 0;
    gap: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 100svh;

        background: linear-gradient(
                180deg,
                var(--background_shade_opacity06),
                var(--background_shade) 95% 100%
            ),
            url(img/background1.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* ===================================================================================== footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: calc(var(--gap) / 2) var(--gap);

    background: black;

    img {
        max-width: 256px;
    }

    hr {
        width: 100%;
        margin-block: 2rem;
        border-color: var(--primary_shade);
        border-style: solid;
    }
}

@media (max-width: 903px) {
    footer nav {
        flex-direction: column;

        a {
            width: 100%;
        }
    }
}
